nav{
.border-primary{
    border-color: red !important;
}
}
.navbar{

    .logo{
        background: url(../images/logo.svg);
        width: 175px;
        height: 42px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        @media(max-width:992px){
            background: url(../images/logo2.svg);
            background-repeat: no-repeat;
        }
    }
}
.collapse{
    a{
        color: white !important;
        &:hover{
            color: $primary !important;
        }
    }
}

footer{
    p{
        font-size: 12px;
        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
    }
}