
.banner{
  background-image: url(../images/bg_home.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  @media (max-width:992px){
    background-image: url(../images/bg_home_mobile.jpg);
    height: 336px;
  }
  h1{
    font-size: 24px;
    @include media-breakpoint-up(lg) {
      font-size: 48px;
  }
  span{
    font-size: 14px;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
      }
    }
  }
}
.border-square{
padding: 50px 85px;
}
.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.card-hover{
  border: 1px solid transparent;
  border-radius: 12px;
  &:hover{
    border: 1px solid $primary;
    color: white !important;
    background: $gray-dark;
    span{
      @include gradient-y
    }
  }
  @media (max-width:992px){
    background:$gray-dark;
    h3,p{
      color: white
    }
    span{
      @include gradient-y;
    }
  }
}

.hand-by-hand::after{
  @include underline;
  left: 0%;
  background-color: $primary;
  @media (max-width:992px){
    left: 46%;
  }
}

.h2-title::after{
  @include underline;
  background-color: $primary;
  left: 48%;
  @media (max-width:992px){
    left: 46%;
  }
}

.number{
  left: 40px;
  top: -38px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  button{
    width: 160px;
    height: 75px;
  }
}

.hot-corse{
  img{
    width: 100px;
    height: 100px;
  }
  .card{
    border-radius: 24px;
    &:hover{
      border: 1px solid $primary;
      color: white;
    }
  }
  .btn{
    &:hover{
      opacity: 0.8;
    }
  }
}

.bg-1{
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url(../images/info01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-2{
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url(../images/info02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-3{
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url(../images/info03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-4{
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url(../images/info04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-hover{
  opacity: 0.4;
  &:hover{
    opacity: 1;
    span{
      color: $primary;
    }
    ::after{
      background-color: $primary;
      // width: 70px;
    }
  }

}

.h3-title::after{
  @include underline;
  background-color: white;
  left: 0%;
}

.squareRounded{
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 2px solid $primary;
    border-left: 2px solid $primary;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid $primary;
    border-left: 2px solid $primary;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    border-bottom-right-radius: 10px;
  }
}

.article{
  &:hover{
    .squareRounded{
      display: block;
    }
  }
}

.feedback {
  background-image: url(../images/bg_share.jpg);
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  @media (max-width:991px) {
    height: auto;
  }
}

.shareSwiper {
  width: 100%;
  height: 429px;
  @media (max-width:991px) {
    height: auto;
  }
  &-img {
    top: 0;
    left: 10px;
    width: 60%;
    height: 90%;
    border-radius: 24px;
    position: absolute;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -10px;
      top: 10px;
      z-index: -1;
      @media (max-width:991px) {
        left: -5px;
        top: 5px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
    @media (max-width:991px) {
      position: relative;
      width: calc(100% - 5px);
      height: 213px;
      left: 5px;
      margin-bottom: 40px;
    }
  }
  .card {
    width: 45%;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    color: black;
    text-align: left;
    p{
      
    }
    &-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);
      @media (max-width:991px) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }
    @media (max-width:991px) {
      position: relative;
      width: 100%;
      padding: 24px;
      margin-bottom: 32px;
    }
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

  &-button-next, &-button-prev {
    position: unset;
    width: 24px;
    height: 24px;
    margin-top: 0;
    color: #62DB54;
  }

  .swiper-pagination {
    position: unset;
    width: auto;
    .swiper-pagination-bullet {
      background-color: #62DB54;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }

  &-buttons {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    @media (max-width: 991px) {
      position: initial;
      transform: none;
    }
  }
}


.join-us{
  padding-right: 240px;
  padding-left: 240px;
  .rounded-circle{
    border-radius: 24px !important;
  }
  .material-icons{
    font-size: 80px;
  }
  button{
    width: 136px;
  }
  @media (max-width: 991px) {
    padding-right: 12px;
    padding-left: 12px;
  }
}